.quiz {
  &__category {
    margin-top: 20px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 5px;
    background: linear-gradient(0deg, rgb(42, 42, 42), black, rgb(42, 42, 42));
    height: 80px;
    align-items: center;
    &_item {
      font-size: 30px;
      cursor: default;
      &-active {
        color: aquamarine;
        text-shadow: 0 0 20px cyan;
        animation: animeCategory 1s infinite linear;
      }
      @keyframes animeCategory {
        0% {
          color: aquamarine;
          text-shadow: 0 0 5px white;
        }
        25% {
          color: cyan;
          text-shadow: 0 0 5px white;
        }

        50% {
          color: white;
          text-shadow: 0 0 5px aquamarine;
        }

        75% {
          color: cyan;
          text-shadow: 0 0 5px white;
        }

        100% {
          color: aquamarine;
          text-shadow: 0 0 5px white;
        }
      }
    }
  }
  &__items {
    padding-top: 20px;
    margin: 0 auto;
    width: 80%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 430px);
    row-gap: 30px;
    justify-content: space-around;
  }
  &__item {
    position: relative;
    width: auto;
    height: auto;
    border: 2px solid cyan;
    border-radius: 5px;
    padding: 5px;
    background: linear-gradient(0deg, black, rgb(44, 44, 43));
    &_mystery {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 5px;
      background: linear-gradient(0deg, rgb(44, 44, 43), black);
      z-index: 200;
      opacity: 1;
      transition: opacity 1s linear;
      cursor: pointer;
      @keyframes animate {
        0% {
          box-shadow: 0 0 1px 1px cyan;
        }
        50% {
          box-shadow: 0 0 25px 15px cyan;
        }
        100% {
          box-shadow: 0 0 1px 1px cyan;
        }
      }
      &:hover {
        animation: animate 1s linear infinite;
      }
      &-name {
        z-index: 300;
        height: 100%;
        font-size: 50px;
        text-align: center;
        line-height: 300px;
        color: white;
        @keyframes coloranimate {
          0% {
            color: white;
          }
          50% {
            color: aquamarine;
          }
          100% {
            color: white;
          }
        }
        &:hover {
          animation: coloranimate 1s linear infinite;
        }
      }
    }
    &-name {
      border-bottom: 1px solid cyan;
      padding: 0.25rem;
    }
    &-species {
      font-size: 20px;
      border-bottom: 1px solid cyan;
      padding: 0.25rem;
      margin-bottom: 10px;
      color: aquamarine;
    }

    &-description {
      height: 100px;
      border-bottom: 1px solid cyan;
      padding: 0.4rem;
      text-overflow: ellipsis;
      overflow: scroll;
      font-size: 16px;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        width: 3px; /* ширина всей полосы прокрутки */
      }
      &::-webkit-scrollbar-thumb {
        background-color: cyan; /* цвет бегунка */
        border-radius: 20px; /* округлось бегунка */
      }
    }
    &-image {
      width: 100%;
      height: auto;
      min-height: 100px;
      min-width: 100px;
      max-height: 155px;
      object-fit: cover;
      border-radius: 5px;
    }
  }
  &__bird {
    display: grid;
    position: relative;
    grid-template-columns: 200px 1fr;
    grid-template-rows: repeat(2, 100px);
    column-gap: 40px;
    margin: 30px auto;
    border-radius: 5px;
    background: linear-gradient(0deg, black, rgb(42, 42, 42));
    &-image {
      width: 100%;
      height: 100%;
      min-height: 100px;
      min-width: 100px;
      max-width: 155px;
      max-height: 155px;
      object-fit: cover;
      border-radius: 5px;
      grid-row: 1 / 3;
      align-self: center;
      justify-self: center;
    }
    &-name {
      font-size: 55px;
      align-self: center;
    }
    &-audio {
      align-self: center;
    }
    &::after,
    &::before {
      content: "";
      position: absolute;
      left: -2px;
      top: -2px;
      background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 25%,
        rgb(0, 106, 255) 45%,
        rgba(0, 212, 255, 1) 55%,
        rgb(0, 106, 255) 75%,
        rgba(9, 9, 121, 1) 85%,
        rgba(2, 0, 36, 1) 1000%
      );
      width: calc(100% + 5px);
      height: calc(100% + 5px);
      z-index: -1;
    }
    &::after {
      filter: blur(40px);
    }
  }
}

.createIntro {
  cursor: default;
}