@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Roboto:wght@700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    width: 90%;       
    color: aliceblue;
    background: black;
    margin: 0 auto;
    font-family: 'Merienda', cursive;
}

.container {    
    width: 100%; 
    height: 100%;
    padding: 20px; 
}

 
@import "blocks/header";
@import "blocks/audio";
@import "blocks/quizItems"; 
@import "blocks/buttons"; 
@import "blocks/quizWrapper"; 
@import "blocks/index"; 
@import "blocks/results"; 


.hide {
    display: none;
}

.null {
    background-color: rgba(255, 0, 0, 0.166);
    color: black;
    text-shadow: 0 0 10px crimson;
    filter: drop-shadow(0 0 0.75rem crimson); 
    border: 1px solid black; 
    &:hover {
        background-color: rgba(255, 0, 0, 0.433);
        color: black;
        text-shadow: 0 0 10px rgb(242, 242, 242);        
    }
}

.score {
    filter: contrast(200%);
    color: black;
    background-color: #fff;
    border: 1px solid cyan;
    filter: drop-shadow(0 0 0.75rem cyan);
    text-shadow: 0 0 10px cyan;   
    font-weight: 700;
    &:hover {
        color: black; 
    }
}


.invisible {
    display: none;
    width: 0;
    height: 0;
}



 
